/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
}

/* Style du menu */
header {
    background-color: #28a745; 
    padding: 30px 0; 
    text-align: center;
    
}

.name_head {
    text-align: center; 
}

.nav-menu {
    display: inline-block; 
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline;
    margin-left: 20px;
}

.nav-menu ul li:first-child {
    margin-left: 0; 
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

.nav-menu ul li a:hover {
    color: #acffae;
}

.nav-menu ul li.active a {
    color: #acffae; 
}


.search_form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
}

.search_form input[type="text"] {
    width: calc(50% - 60px); 
    padding: 10px; 
    border: 1px solid #202020;
    border-radius: 5px; 
}

.search_form button {
    padding: 10px 20px; 
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.search_form button:hover {
    background-color: #218838; 
}

/* Style du tableau */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

thead {
    font-weight: bold; 
    background-color: #28a745; 
    color: #fff; 
}

table th, table td {
    padding: 20px; 
    text-align: left;
    border: none; 
}

/* Style des boutons de détails */
.details_button {
    padding: 10px 20px; 
    background-color: #28a745; 
    color: #fff;
    text-decoration: none; 
    border-radius: 5px; 
}

.details_button:hover {
    background-color: #218838; 
}

.stock {
    color: green;
}

.unstock {
    color: red;
}


/* Style du titre */
.about-title {
    background-color: #f2f2f2; 
    padding: 20px; 
    margin-bottom: 20px;
    text-align: center;
}

.about-title h1 {
    color: #333; 
    font-size: 24px; 
}

/* Style de la description */
.about-desc {
    margin-bottom: 20px; 
}

.about-desc p {
    color: #666; 
    font-size: 16px; 
    line-height: 1.6; 
    margin-bottom: 10px; 
}

/* Style des sections Mission, Vision et Objectif */
.mission, .vision, .objectif {
    display: flex;
    margin-bottom: 40px; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.mission h2 {
    color: #ff5733; 
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.vision h2 {
    color: #33a8ff; 
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.objectif h2 {
    color: #33ff7a; 
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Style commun pour les sections */
.mission > div,
.vision > div,
.objectif > div {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.mission img,
.vision img,
.objectif img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mission p,
.vision p,
.objectif p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}


/* Style des sections */
.session_info,
.session_form {
    margin-bottom: 40px; 
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.session_info h2,
.session_form h2 {
    color: #333; 
    font-size: 24px;
    margin-bottom: 20px;
}

.session_info p {
    color: #555; 
    font-size: 16px;
    line-height: 1.6;
}

/* Style du formulaire */
.session_form form {
    margin-top: 20px;
}

.session_form form label {
    color: #333; 
    font-size: 16px;
}

.session_form form input[type="text"],
.session_form form input[type="email"],
.session_form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.session_form form button {
    padding: 10px 20px;
    background-color: #28a745; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.session_form form button:hover {
    background-color: #218838; 
}

/* Style du message */
.message_form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #555; 
    font-size: 16px;
    line-height: 1.6;
    margin-left: 20px; 
}

/* Style du pied de page */
footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
